.landingpage {
    height: 100%;
    width: 100%;
    background: url("../../the office.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.buttonContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    button {
        color: #000;
        padding: 10px;
        font-size: 30px;
    }
}

.link {
    font-size: 35px;
    padding-bottom: 130px;
}